<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Ejercicios AngularJS</title>
		<script src="angular.min.js"></script>
		<script src="codigo.js"></script>
		<script src="http://code.jquery.com/jquery-1.9.0.js"></script>

		<style>
			.negativo {
				color: red;
			}
			.positivo {
				color: #33f;
			}
			.titularpeq{
				font-size: 10pt;
			}
			.titulargran{
				font-size: 18pt;
			}   
			.uno{
				background-color: #666;
			}
			.dos{
				color: #fff;
			}
			.tres{
				font-size: 30px;
			}
		</style>
		
		</head>

	<body ng-app="myApp">
				
		{{"Hola "+"Desarrollo Web"}}

		<br><br>
		**********************************************************************************
		**********************************************************************************
				<br><br>
				<div ng-controller="PruebaController">
							 <input type="text" ng-model="dato" />
							 {{dato}}
							 <input type="button" value="hola" ng-click="dato='hola'" />
				</div>    
				<br><br>
				**********************************************************************************
				**********************************************************************************
				<br><br>


				<!--INICIO EJEMPLO CON JQUERY -->
				Ejemplo con JQuery
			<div>
				<input id="nombre" type="text"></input>
				<span id="descripcion">El nombre introducido es:</span>
				<button id="annadir">+</button>
				<ul id="lista">
				</ul>

			</div>
			<script>
				$(document).ready(function() {
					$("#nombre").keyup(function(){
						var name= $("#nombre")[0].value;
						$("#descripcion")[0].innerHTML = "El nombre introducido es <strong>" + name + "</strong>";
					});

					$("#annadir").click(function(){
						var name = $("#nombre")[0].value;
						$("#lista")[0].innerHTML = $("#lista")[0].innerHTML + "<li>" + name + "</li>";
					});
				});
			</script>
			<!--FIN EJEMPLO CON JQUERY -->  

				<br><br>

				Ejemplo con AngulaJS
				<!--INICIO EJEMPLO CON ANGULAR -->
					
				<div ng-controller="ListController as vm">
						<input type="text" ng-model="vm.name"></input>
						<span>El nombre introducido es: <strong>{{ vm.name }}</strong></span>
						<button ng-click="vm.add()">+</button>
						<ul>
								<li ng-repeat="item in vm.lista">{{item}}</li>
						</ul>
				</div>
					

				<!--FIN EJEMPLO CON ANGULAR -->
				

			 
				**********************************************************************************
				**********************************************************************************
				<br><br>


				<div ng-init="pensamientos = [];" ng-controller="PruebaController">
						<h1>Altavoz AngularJS</h1>
						<p>
						¿Qué hay de nuevo?
						<br />
						<input type="text" ng-model="nuevoPensamiento" /> 
						<input type="button" value="Agregar" ng-click="pensamientos.push(nuevoPensamiento); nuevoPensamiento = '';" />
						</p>
						<h2>Pensamientos que has tenido</h2>
						<p ng-repeat="pensamiento in pensamientos" ng-init="paso = $index">
						Pensaste esto: {{pensamiento}} (Iteración con índice {{paso}})
						</p>
				</div>

				<br><br>
				**********************************************************************************
				**********************************************************************************
				<br><br>

				<div ng-init="camposelect='uno'">
						{{ camposelect }}
						<br />
						<select ng-model="camposelect">
								<option value="uno">1</option>
								<option value="dos">2</option>
						</select>
				</div>

				<br><br>
				**********************************************************************************
				**********************************************************************************
				<br><br>
				
				<div ng-controller="EditController">
						<span>{{message}}</span>
						<div ng-if="userIsAdmin">
								<span>Edit Message</span>
								<input ng-model="$parent.message"/>
						</div>
				</div>

				<br><br>
				**********************************************************************************
				**********************************************************************************
				<br><br>
				<div ng-controller="PruebaAppController as vm">
						{{vm.algo}}
				</div>

				<br><br>
				**********************************************************************************
				**********************************************************************************
				<br><br>

				<div ng-app="pruebaApp" ng-controller="PruebaApp2Controller as vm">
						{{vm.algo}}
						<input type="button" value="Cambiar" ng-click="vm.miClick()" />
				</div>

				<br><br>
				**********************************************************************************
				**********************************************************************************
				<br><br>

					<div ng-controller="acumuladorAppCtrl as vm">
							 <h1 ng-class="vm.tamTitular">Acumulador</h1>
							 <select ng-model="vm.tamTitular">
							 <option value="titularpeq">Peque</option>
							 <option value="titulargran">Gran</option>
							 </select>

							 <h2 ng-class="vm.clases">Control de operación:</h2>
							 ¿Cuánto? <input type="text" ng-model="vm.cuanto" size="4" placeholder="0" />
							 <br />
							 <input type="button" value="+" ng-click="vm.sumar()"/>
							 <input type="button" value="-" ng-click="vm.restar()"/>
							 <p ng-class="{positivo: vm.total>=0, negativo: vm.total<0}">
										Ahora tenemos: {{vm.total}}
							 </p> 
					</div>
				
					<br><br>
				**********************************************************************************
				**********************************************************************************
				<br><br>

					<div ng-controller="checkController as vm">
							 <input type="checkbox" ng-model="vm.activo" ng-change="vm.avisar()">
							 Este campo es vm.activo y su valor en el modelo es {{ vm.activo }}.
							 <input type="button" ng-click="vm.activo=false;" value="Cambiar"> 
							 <br>
							 Observarás que aunque el estado pueda cambiar, no se invoca al ng-change de ese primer checkbox

					</div>

				
				<br><br>
				**********************************************************************************
				**********************************************************************************
				<br><br>

		</body>


		

</html>




