<!doctype html>
<html ng-app="TiendaDeFruta">
	<head>
		<meta charset="utf-8">
		<title>Insertar controladores en AngularJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
		<script src="https://code.angularjs.org/1.5.0/angular-route.js"></script>

		<style>
			.angular{
				background: red;
				font-size: 40px;
				padding: 0 40px;
				color: #fff;
			}
			
			header{
				height: 80px;
				background: #00FF00;
				text-align: center;
				line-height: 50px;
				font-size: 40px;
			}

			ul, li{margin:0; padding:0;}
			h1{margin-top: 50px;}
			li{
				list-style-type: none;
				background: #000;
				float: left;
				height: 30px;
				width: 25%;
				text-align: center;
			}

			li a{
				color: #fff;
				text-decoration: none;
				line-height: 30px;
			}
		</style>
	</head>
	<body>
		****************************************************************************
		<div ng-controller="controlador1">
			<h1>Promoción de mangos</h1>
			<h2>$2.15 cada uno</h2>

			<label>Cantidad de mangos</label>
			<input type="text" ng-model="cantidad">

			<br>

			Precio Total: {{ cantidad * precio | currency}}
		</div>
		****************************************************************************
		<div ng-controller="controlador2">
			{{nombre}}
		</div>

		<div ng-controller="circunferencia">
			<label>Diámetro</label>
			<input type="text" ng-model="diametro"><br>
			<button ng-click="calcularCircunferencia()">Calcular circunferencia</button>

			{{ circunferencia }}
		</div>

		****************************************************************************
		<div ng-controller="accion">
			<h1>Nombres:</h1>

			<ul>
				<li ng-repeat="nombre in nombresSimples">
				{{nombre}}		
				</li>
			</ul>

			<h1>Nombres de acción:</h1>



			<ul>
				<li ng-repeat="heroe in heroes">
				{{heroe.nombre}} {{heroe.apellido}}
				</li>
			</ul>
		</div>
		****************************************************************************
		<div ng-controller="agenda">

			<label>Buscar:</label>
			<input type="search" ng-model="busqueda">

			<p ng-repeat="entrada in MiAgenda | filter:busqueda ">
				{{entrada.nombre}} {{entrada.telefono}}

			</p> 

		</div>
		****************************************************************************
		<div ng-controller = "controladorMouse">

		<button ng-click="clickSimple()" ng-dblclick="clickDoble()">Click</button>
		<button ng-dblclick="clickDoble()">Click</button>
		<img src="imagen1.jpg" ng-mouseleave="mouseDejaLaImagen()" ng-mouseenter="mouseSobreLaImagen()">

		<h1>{{ evento }}</h1>

		</div>
		****************************************************************************
		<div ng-controller="css">
			<div class="contenedor">
				<p ng-style="estilos"> 
					Controlando el estilo de mis aplicaciones con <span ng-class="claseEspecial">AngularJS</span>
				</p>
			</div>
			<button ng-click="cambiarPropiedades()">Cambiar propiedad</button> 
			<button ng-click="cambiarClases()">Cambiar propiedad </button>
			<button ng-click="reiniciar()">Reiniciar</button>
		</div>


		****************************************************************************

		<div ng-controller="mensajeSecreto">
			<div ng-show="mensaje">
				Este es un mensaje secreto
			</div>
			<button ng-click="mostrarMensaje()">Mostrar mensaje</button>
			<button ng-click="ocultarMensaje()">Ocultar mensaje</button>
		</div>

		****************************************************************************

		<div ng-controller="cambioImagen">
			<img ng-src="{{imagenActual}}">
			<button ng-click="mostrarImagen('imagen1.jpg')"> Imagen 1 </button>
			<button ng-click="mostrarImagen('imagen2.jpg')"> Imagen 2 </button>

		</div>

		****************************************************************************

		<h1>Visita el NG-ZOO</h1>
		<div ng-include src=" 'plantillas/encabezado.html' "></div>
		<div ng-include src=" 'plantillas/menu.html' "></div>

		****************************************************************************
		<div ng-view></div>
			<ul class="menu">
				<li> <a href="#/plantillas/ave1">Ave 1</a></li>
				<li> <a href="#/plantillas/ave2">Ave 2</a></li>
				<li> <a href="#/plantillas/ave3">Ave 3</a></li>

			</ul>

		

		****************************************************************************
		<script>
		
		var miAplicacion = angular.module( 'TiendaDeFruta', ['ngRoute'])

		miAplicacion.controller ('controlador1', [ '$scope', function($scope) {
			$scope.cantidad  = 1;
			$scope.precio = 2.15;

			$scope.nombresSimples = ["Alois", "Gardenzio", "Carlos"];

		}]) 

		miAplicacion.controller ('controlador2', [ '$scope', function($scope) {
			$scope.nombre = "Amelia";
		}])

		miAplicacion.controller ('circunferencia', ['$scope', function($scope) {
			var pi = 3.14;
			$scope.calcularCircunferencia = function(){
				$scope.circunferencia = $scope.diametro * pi;

			}
		}])

		miAplicacion.controller('accion', ['$scope', function($scope) {
			$scope.nombresSimples = ["Alois", "Gardenzio", "Carlos"];
			$scope.heroes =  [
				{nombre: "Arnold", apellido:"Scharzenegger"},
				{nombre: "Sylvester", apellido: "Stallone"},
				{nombre: "Chuck", apellido: "Norris"}
			]

		}])

		miAplicacion.controller('agenda', ['$scope', function($scope) {

			$scope.MiAgenda = [
				{nombre:'Lincy', telefono:'010-25687-878'},
				{nombre:'Alexei', telefono:'010-88895-878'},
				{nombre:'Pizzeria', telefono: '020-98752-963'}, 
				{nombre:'Natalia', telefono: '020-55364-785'},
				{nombre:'Karol', telefono: '010-63542-877'}
			]
		}])
		
		miAplicacion.controller('controladorMouse', ['$scope', function($scope) {

			$scope.clickSimple = function(){
				$scope.evento = "click simple"
			}

			$scope.clickDoble = function(){
				$scope.evento = "click Doble"
			}

			$scope.mouseDejaLaImagen =function(){
				$scope.evento = "Mouse fuera de la imagen"
			}

			$scope.mouseSobreLaImagen = function(){
				$scope.evento = "Mouse dentro de la imagen"
			}
		}])

		miAplicacion.controller('css', ['$scope', function($scope) {

			$scope.cambiarPropiedades = function(){
				$scope.estilos = {"background" : "blue"}	
			}

			$scope.cambiarClases = function(){
				$scope.claseEspecial = "angular"
			}

			$scope.reiniciar = function(){
				$scope.estilos = ""
				$scope.claseEspecial = ""
			}

			}])
			
		miAplicacion.controller('mensajeSecreto', ['$scope', function($scope){

			$scope.mensaje = false

			$scope.mostrarMensaje = function(){
				$scope.mensaje = true

			}

			$scope.ocultarMensaje = function(){
				$scope.mensaje = false
			}

		}])

		miAplicacion.controller('cambioImagen', ['$scope', function($scope){
			$scope.imagenActual = 'imagen1.jpg'
			$scope.mostrarImagen = function(_imagen){
				$scope.imagenActual = _imagen
			}

		}])

		miAplicacion.config(['$routeProvider', 
			function($routeProvider){
				$routeProvider.
				when('/plantillas/ave1', {
					templateUrl:'plantillas/ave1.html',
				}).
				when('/plantillas/ave2', {
					templateUrl:'plantillas/ave2.html',
				}).
				when('/plantillas/ave3', {
					templateUrl:'plantillas/ave3.html',
				}).
				otherwise({
					redirectTo:'/',
					templateUrl: 'plantillas/inicio.html',

			});

		}]);
		
		var sumar = function (a,b){
			return a+b;
		}
		//alert(sumar(1,2));
		function sumar (a,b){
			return a+b;
		}

		(function(variable1, variable2, variable3){
			console.log ('Esta funcion no tiene nombre')
			console.log (variable1)
			console.log (variable2)
			console.log (variable3)

		}('hola',2,3));

		</script>

	</body>
</html>
